version: '3.8'

services:
  nextclinic:
    image: ghcr.io/nextestudios/nextclinic:latest
    container_name: nextclinic
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: vacinacao_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vacinacao_db
      MYSQL_USER: user
      MYSQL_PASSWORD: user123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: vacinacao_adminer
    ports:
      - "8081:8080"
    depends_on:
      - mysql
    restart: unless-stopped

volumes:
  mysql_data:
